:root{
    --hue: 250;
}

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(80deg, hsl(var(--hue), 25%, 20%), hsl(calc(var(--hue) - 180), 25%, 20%));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    position: relative;
    background: hsl(20, 48%, 63%);
    height: 290px;
    width: 250px;
    border-radius: 70% 70% 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.eyes{
    position: absolute;
    width: calc(45px * 3);
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.eye{
    background: #ddd;
    height: 28px;
    width: 45px;
    border-radius: 100%;
    border: 2px solid rgb(243, 212, 217);
    position: relative;
    overflow: hidden;
}

.eye::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 25px;
    background: rgb(54, 39, 39);
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-30%) translateY(-55%);
}

.eye::after{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background: #232323;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-15%, -65%)
}

.brows{
    position: absolute;
    display: flex;
    transform: translate(0, -80%);
    justify-content: space-between;
    width: calc(65px*2 + 8px);
}

.brow{
    height: 35px;
    width: 50px;
    border-top: 8px solid #333;
    border-radius: 100%;
}

.nose{
    position: absolute;
    border: 3px solid rgb(71, 63, 53);
    border-top: none;
    border-radius: 0 0 100px 100px;
    height: 20px;
    width: 25px;
    transform: translateY(120%);
}

.mouth{
    position: absolute;
    height: 35px;
    width: 70px;
    background: rgb(102, 59, 59);
    transform: translateY(235%);
    border-radius: 10px 10px 50px 50px;
    border: 3px solid rgb(168, 110, 121);
    border-left: 2px;
    border-right: 2px;
}

.ears{
    position: absolute;
    width: 275px;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    transform: translateY(-50%);
}

.ear{
    background: hsl(20, 48%, 60%);
    height: 40px;
    width: 15px;
    border-radius: 0 100% 100% 0;
}

.ear.leftear{
    border-radius: 100% 0 0 100%;
}

.hair{
    position: absolute;
    border-top: 50px solid #222;
    height: 300px;
    width: 260px;
    transform: translateY(-10%);
    border-radius: 100% 100% 0 0;
}

.hair-divider{
    position: absolute;
    width: 180px;
    height: 0;
    border: 50px solid transparent;
    border-top-color: #222;
    transform: translateY(-110%);
    border-radius: 100% 100% 0 0;
}

.hair-leash{
    width: 50px;
    height: 30px;
    border-top: 10px solid darkgoldenrod;
    position: absolute;
    border-radius: 100% 100% 0 0;
    transform: translateY(-585%);
}

.bun{
    position: absolute;
    background: #222;
    height: 30px;
    width: 50px;
    border-radius: 100% 100% 0 0;
    transform: translateY(-630%);
}

.sideburns{
    position: absolute;
    width: 255px;
    display: flex;
    justify-content: space-between;
}

.sideburn{
    background: #222;
    width: 10px;
    height: 60px;
    border-radius: 0 100% 100% 0;
    transform: translateY(-80%);
}

.sideburn:first-child{
    border-radius: 100% 0 0 100%;
}